{% extends "auctions/layout.html" %}
{% load static %}


{% block body %}
<h2 class="center_h2">Won Auctions</h2>


<div class="row overflow-auto" style="margin-bottom: 30px">
    <div class="col-sm">
        {% for auction in auctions %}
        <div class="card border-primary mb-3" style="width: 200px; margin : 5px;">
            <img class="card-img-top" src="{{auction.image.url}}" alt={{item}}>
            <div class="card-body">
                <!--h5 class="card-title">{{auction}}</h5-->
                <a href="{%url 'auction_details' auction.id %}">
                    <p class="card-text">{{auction}}</p>
                </a>
            </div>
            <div class="card-footer">
                <small class="text-muted"> You paid: {{auction.bid}}</small>
            </div>
        </div>

        {% empty %}
        <div class="center_h2" style="padding: 70px 0">
            <button type="button" class="btn btn-primary">
                <span class="badge badge-warning">You have not won any auction yet </span>
            </button>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}